PySide6>=6.6
mss>=9.0
numpy>=1.26
Pillow>=10.0
opencv-python-headless>=4.8
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Media.Ocr
winrt-Windows.Media.SpeechSynthesis
winrt-Windows.Storage.Streams
